
.page_login{
    overflow: hidden;
    background: var(--bgred);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    background: #fff;
    form{
        display: block;
        input{
            width: 100%;
        }
    }
}