@import url("https://use.typekit.net/ikb8nck.css");

@import 'reset';

body,html{
    font-family: garamond-premier-pro, serif;
    font-weight: 500;
    font-style: normal;
    // background: #F6F6F6;
    background:  #f8f7f8;
    scroll-behavior: smooth;
    &.showmenu{
        .nav_covid{
            transform: none;
        }
    }
}
a, a:hover, a:link, a:visited{
    color: inherit;
    text-decoration: none;
}
#wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}

#container{
    width: 100%;
    position: relative;
    overflow: hidden;
}
@import 'sections';